
<div class="optionsContainer">
  <mat-form-field class="thin-input" appearance="outline" floatLabel="always"> 
    <div>
      <mat-label>Dataset</mat-label>
      <mat-select [(value)]="datasetName" name="Dataset" (selectionChange)="onDatasetChange()" >
        <mat-option [value]="'molecule-core-ref'">
          molecule-core-ref
        </mat-option>
        <mat-option [value]="'test1'">
          test1
        </mat-option>
        <mat-option [value]="'test2'">
          test2
        </mat-option>
        <mat-option [value]="'test3'">
          test3
        </mat-option>
      </mat-select>
    </div>
  </mat-form-field>

  <button class="btn btn-lg btn-info" (click)="selectAll()">Select All</button>
  <button class="btn btn-lg btn-info" (click)="deselectAll()">Deselect All</button>

  <p>properties</p>
  <li *ngFor="let selection of listPossibleSelections">
    <button class="btn btn-lg btn-info" [class.active]="checkInArray(selection)" (click)="toggleSelection(selection)">{{selection}}</button>
  </li>
  
</div>

<div class="systemPlotContainer">
  <app-umap-gallery
    [visibleSystems]="visibleSystems"
    [path] = "path"
  ></app-umap-gallery>
</div>


<div class="referencePlotContainer">
  <app-reference-gallery
    [visibleReferences]="visibleReferences"
    [path] = "path"
  ></app-reference-gallery>
</div>


